h2 {
    font-size: 3rem;
    margin-top: 150px;
    margin-bottom: 70px;
}

table {
    font-size: 2rem;
    line-height: 70px;
    margin-left: auto;
    margin-right: auto;
}
table, td {
    border-bottom: 0.5px solid rgb(172, 172, 172);
}

td {
    text-align: left;
    padding-right: 300px;
    padding-left: 50px;
}
.td2 {
    padding-right: 50px;
    padding-left: 100px;
}


ol {
    list-style: decimal;
    text-align: center;
    margin-bottom: 200px;
}
li {
    max-width: 1380px;
    font-size: 2rem;
    text-align: left;
    line-height: 50px;
    margin-left: 60px;
}
/* Laptop view */
@media only screen and  (max-width: 1440px){
    ol {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
    li {
        max-width: 974px;
        font-size: 1.75rem;
        text-align: left;
        line-height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        font-size: 2.5rem;
    }
    table {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 1.75rem;
    }
    table {
        max-width: 800px;
        font-size: 1.5rem;
        line-height: 50px;
    }
    td {
        padding-right: 230px;
        padding-left: 40px;
    }
    .td2 {
        padding-right: 20px;
        padding-left: 50px;
    }
    li {
        max-width: 700px;
        font-size: 1.5rem;
    }
}
/* /* Mobile view */
@media only screen and (max-width: 900px) {
    li {
        max-width: 600px;
        line-height: 35px;
    }
    h2 {
        font-size: 1.75rem;
    }
    table {
        font-size: 1.25rem;
    }
}
/* /* Mobile view */
@media only screen and (max-width: 700px) {
    h2 {
        font-size: 1.5rem;
    } 
    table {
        font-size: 1rem;
        line-height: 45px;
    }
    td {
    padding-right: 150px;
    padding-left: 20px;
    }
    .td2 {
        padding-right: 20px;
    }
    ol {
        margin-bottom: 60px;
    }
    li {
        max-width: 500px;
        font-size: 1rem;
    }
}
/* /* Mobile view */
@media only screen and (max-width: 520px) {
    h2 {
        font-size: 1.25rem;
    }
    td {
        padding-right: 100px;
    }
    .td2 {
    padding-right: 0px;
    }
    li {
        max-width: 350px;
        font-size: 0.75rem;
        line-height: 25px;
    }
}
@media only screen and (max-width: 430px) {
    h2 {
        font-size: 1rem;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    table {
        font-size: 0.75rem;
        line-height: 30px;
    }
    td {
        padding-right: 50px;
        padding-left: 20px;
    }
    .td2 {
    padding-right: 20px;
    padding-left: 0px;
    }
    ol {
        margin-bottom: 30px;
    }
    li {
        max-width: 250px;
    }
}
